/*RESET REALODED - from meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*
*
*
*      
*
*   MY CSS
*
*
*
*
*/


#navlist {
    list-style-type:none;
    overflow:hidden;
    margin:0;
    padding:0;
    font-size:20px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
}


#nav {
    box-sizing:border-box;
    margin:0;
}


#navlist li {
    float:left;
}

#navlist li a {
    display: block;
    box-sizing:border-box;
    border-bottom:5px solid transparent;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left:8px;
    margin-right:8px;
    text-decoration: none;
}

#navlist li a:not(.selected):hover {
    border-bottom:5px solid white;
    transition:0.5s;
}

#navlist li a.selected {
    border-bottom:5px solid white;
}

body {
    margin:0;
    /*
    background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
                                  transparent 100%); 
    */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50vw;
    margin-left:50%;
    transform:translate(-50%);
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.alink {
    font-size:20px;
    text-align:center;
    display:block;
    margin-bottom:2%;
}

.miniheading {
    text-align:center;
    font-size:35px;
    font-family: Staatliches;
}


.infotext {
    text-align:center;
    font-size:24px;
}

.link_button {
    padding:4px;
    display:inline-block;
    text-align:center;
    border:5px solid black;
    background-color:grey;
    color:black;
    margin-left:50%;
    transform:translate(-50%);
}

.link_button:hover {
    background-color:rgb(75, 75, 75);
}

.link_button a {
    text-decoration:none;
    color:white;
}

.book_image {
    margin-left:50%;
    transform:translate(-50%);
}

#home_background {
    background-image:url("../media/background_home.jpg");
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    z-index: -1;
    padding:0px;
    background-color:black;
    background-position:90%;
    background-size:cover;
    height: 25vh;
}

#home_background::after {
    content: "";
    position: absolute;
    color:white;
		width: 100vw;
		height: inherit;
        top:0; 
        left:0;
        z-index:0;
    background:rgba(0,0,0,0.6);
    opacity: 0.8;
}

#home_background_resources {
    background-image:url("../media/library.jpeg");
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    z-index: -1;
    padding:0px;
    background-color:black;
    background-position:90%;
    background-size:cover;
    height: 25vh;
}

#home_background_resources::after {
    content: "";
    position: absolute;
    color:white;
		width: 100vw;
		height: inherit;
        top:0; 
        left:0;
        z-index:0;
    background:rgba(0,0,0,0.6);
    opacity: 0.8;
}

#home_background_culture {
    background-image:url("../media/culture.jpg");
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    z-index: -1;
    padding:0px;
    background-color:black;
    background-position:90%;
    background-size:contain;
    height: 25vh;
}

#home_background_culture::after {
    content: "";
    position: absolute;
    color:white;
		width: 100vw;
		height: inherit;
        top:0; 
        left:0;
        z-index:0;
    background:rgba(0,0,0,0.6);
    opacity: 0.8;
}

#home_background_multi {
    background-image:url("../media/multicultural.png");
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    z-index: -1;
    padding:0px;
    background-color:black;
    background-position:90%;
    height: 25vh;
}

#home_background_multi::after {
    content: "";
    position: absolute;
    color:white;
		width: 100vw;
		height: inherit;
        top:0; 
        left:0;
        z-index:0;
    background:rgba(0,0,0,0.6);
    opacity: 0.8;
}

#image_text {
    color: #fff;
    position:relative;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
}

#canvasContainer {
    width: 250px;
    height: 250px;
}

body {
    border:0;
    padding:0;
}

#resources #spanish1, #resources #spanish2, #resources #spanish3 {
    width:33%;
}

#resources {
    width:100vw;
    display:inline-block;
}

iframe {
    max-width:100vw;
}





